# --- PlatformIO Specific Builds (MUST BE BLOCKED) ---
.pio/
.pioenvs/
.piolibdeps/
libdeps/

# --- IDE Configurations & Caches ---
.vscode/
.clang_complete
.gcc-flags.json
.tags
tags

# --- Local Host Machine Files ---
*.o
*.a
*.so
*.elf
*.bin
*.hex

# --- OS specific files ---
.DS_Store
Thumbs.db
